// Colors
$violet-meteora: #9353FF;
$lemon-meteora: #DAFF01;

$coral-meteora: #EE6471;
$orange-meteora: #F87F46;

$blueich-grey: #343A40;
$grey-meteora: #CCCCCC;
$black-meteora: #000000;

//Typography
$main-type: 'Inter', sans-serif;

  //weight:
    $light: 300;
    $regular: 400;
    $medium: 500;
    $semibold: 600;
    $bold: 700;
    $extrabold: 800;
    $black: 900;

  //sizes :
    $paragraph-small: 13px;
    $paragraph: 16px;
    $paragraph-lead: 20px;
    $display-1: 64px;
    $display-2: 56px;
    $display-3: 48px;
    $display-4: 32px;

    $h1: 40px;
    $h2: 32px;
    $h3: 28px;
    $h4: 24px;
    $h5: 20px;
    $h6: 16px;
